*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body {
    position: relative;
}

/*-----------HEADER---------------*/
.navbar {
    background-color: red; 
}

.navbar-brand img {
    width: 100px;
    height: auto;
}

.navbar form input {
    width: 400px;
}

.cart {
    margin-right: 20px;
    font-size: 25px;
    list-style-type: none;
}

.cart a {
    color: gray;
    text-decoration: none;
}

.cart a:hover {
    color: white;
    transition: 0.3s;
}

.login {
    width: 120px;
    height: 38px;
    cursor: pointer;
    color: #28a745;
    border: 1px solid #28a745;
    background-color: #341414;
    margin-left: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease;
}

.login:hover {
    text-decoration: none;
    color: white;
    background-color: #28a745;
}


/* ----------Product----------- */

.product-item {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.product-item .item {
    width: 25%;
    height: 600px;
    margin: 30px 0px;
    position: relative;
}

.image .idproduct {
    width: 100px;
    height: 30px;
    background-color: #00edff;
    position: absolute;
    top: -7px;
    left: 15px;
    clip-path: polygon(0 0, 100% 0, 100% 68%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #b12424;
}

.image .idproduct h6 {
    font-weight: bold;
}

.item img {
    width: 90%;
    height: 500px;
    padding: 0px 25px;
    border-radius: 10px;
}

.item .info {
    width: 425px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0px 25px;
}

.item a {
    width: 15%;
    height: 100%;
    color: #28a745;
    background-color: #341414;
    border-radius: 5px;
    transition: 0.3s ease;
}

.item a:hover {
    color: white;
    background-color: #28a745;
}

.item i {
    width: 100%;
    height: 100%;
    font-size: 25px;
    padding: 12px 15px;
}

/*-------- Footer--------- */

hr {
    background-color: black;
}

.footer {
    width: 100%;
    height: 200px;
    margin-top: 20px; 
    position: relative;
    display: flex;
}

.footer .background-footer {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-size: contain;
}

.footer .introduce {
    position: absolute;
    left: 30px;
    top:0;
    z-index: 1;
}

.introduce .hotline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    color: white;
    background-color: black;
    border-radius: 20px 0px 20px 0px;
}

.footer .app {
    position: absolute;
    right: 500px;
    top: 0;
    font-weight: bold;
    display: flex;
}

.app-logo {
    width: 250px;
    height: 200px;
    background-image: url(https://i.pinimg.com/originals/18/b8/03/18b8035a7933b9323f2d8f82cf400aab.jpg);
    background-size: cover;
}
